<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="utf-8">
    <title>Owen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="OwenBlog">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/theme1/css/oblog.css">
</head>
<body>
<div class="container">
   <div th:replace=" theme1/taglib/header :: header"></div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div>我的test</div>
        </div>
    </div>

    <!-- Control Button -->
    <button type="button" data-toggle="modal" data-target="#search-modal" style="display: none"></button>

    <!-- Search Modal -->
    <div class="modal fade" id="search-modal" tabindex="-1" role="dialog" aria-labelledby="search-modal-title">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="border-bottom-color: transparent">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <center>
                        <label><h3>搜索那些碎念 - OwenBlog</h3></label>
                    </center>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-search"
                                                             aria-hidden="true"></span></div>
                        <input type="text" class="form-control ls-modal-search-input" placeholder="活动一下手指...">
                    </div>
                </div>
                <div class="modal-body">
                    <div class="media">
                        <div class="media-body"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <p class="text-center">Search by <a href="" target="_blank"><strong>OwenBlog</strong></a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row" th:replace=" theme1/taglib/footer :: footer"></div>
</div>

<script src="/theme1/js/oblog.js"></script>
</body>
</html>
