<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">


<body>
    <div class="row" id="footer" th:fragment="footer" >
        <div class="col-md-6 col-md-offset-3">
            <hr>
            <footer>
                <center>
                    <p>Powered by <a href="http://www.owenfu.cn">Owen Fu</a> @ <a
                            href="https://github.com">Github</a> | © 2017 | <a href="#">Oblog</a></p>
                </center>
            </footer>
        </div>
    </div>
</body>
</html>